<!DOCTYPE html>
<html>
<head>

<%= link_to 'Home', root_path %>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: right;
}


l2 {
    float: left;
}
<!--header {
    float: ;
} -->

header { 

    text-align: center; 

}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

l2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


li a:hover {
    background-color: blue;
}
</style>



</head>

<body>

<ul>
  

  <li><a href="#home">Home</a></li>
  
  
  <l2><a href="#home">apha-blog</a></l2>

  

</ul>

<header>



 <div> <h1>This is my about page, press to go to home page</h1> </div>
</header>

<!-- the box diagram -->




</body>
</html>

